@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --background: #f8f9fa;
  --foreground: #171717;
  --purple-primary: #8b5cf6;
  --purple-secondary: #7c3aed;
  --purple-light: #c4b5fd;
  --code-bg: #1a1a2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Dela Gothic One", sans-serif;
}
.nav-bar, .problems-page {
  margin: 0 auto!important;
}
.problems-page {
  margin-top: 50px!important;
}



.homepage {
  margin: 0px auto!important;
}

main span {
  background: linear-gradient(to right, #8b5cf6, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.1));
}

